#other-topics{
    display: flex;
    flex-direction: column;
    align-items: center;
    .topic{
        text-align: center;
        margin: 10% 5%;
    }
    .topics{
        width: 100%;
        
    }
    .title{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
        font-weight: 400;
        white-space: pre-line;
        margin: 12% 5% 5%;
    }
    .title-topic{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 24px;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        font-weight: 600;
        margin: 5%;
    }
}