#us{
    position: relative;
    .img{
        figure{
            margin-top: -8rem;
            img{
                width: 100%;
            }
        }
    }
    .title {
        margin: 5%;
        h2{
            font-family: 'IBM Plex Mono', monospace;
            font-size: 36px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 42px;
            font-weight: 400;
            white-space: pre-line;
        }
    }
    .text{
        margin: 5%;
        p{
            font-family: 'IBM Plex Mono', monospace;
            font-size: 14px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 22px;
            white-space: pre-line;
        }
    }
}