/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#elements-header {
  width: 100%;
  height: 44px;
}

.m-elements-header {
  margin: 2.5% 0 2.5% 5%;
}

.header {
  background-color: #FFFFFF 100%;
  width: 100%;
  height: 44px;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 28px;
}

.header li a:hover, .header .menu-btn:hover {
  background-color: #0000FF;
  color: #fff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 4%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: black;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 265px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 6%;
  }
  .header .menu-icon {
    display: none;
  }
}

/*--------------------------------------------------------------
# Welcome Section
--------------------------------------------------------------*/
#welcome {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8% 5%;
  margin-bottom: 20%;
}

#text-desktop {
  display: none;
}

#welcome .title h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 36px;
  color: #000;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
  white-space: pre-line;
}

#welcome .title h1 {
  margin: 0;
}

#welcome .subtitle {
  word-wrap: break-word;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  margin: 6% 0 12%;
}

/*--------------------------------------------------------------
# Podcast Section
--------------------------------------------------------------*/
#podcast {
  height: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#podcast #container-podcast {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#podcast #container-podcast #title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 18% 5% 5%;
}

#podcast #container-podcast #podcasts {
  margin: 0 3.4% 0%;
}

#podcast #container-podcast #podcasts iframe {
  margin-bottom: 1%;
  border: 0;
  width: 100%;
  height: 232px;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

/*--------------------------------------------------------------
# Us Section
--------------------------------------------------------------*/
#us {
  position: relative;
}

#us .img figure {
  margin-top: -8rem;
}

#us .img figure img {
  width: 100%;
}

#us .title {
  margin: 5%;
}

#us .title h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
  white-space: pre-line;
}

#us .text {
  margin: 5%;
}

#us .text p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  white-space: pre-line;
}

/*--------------------------------------------------------------
# Guests Section
--------------------------------------------------------------*/
#guests .title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
  white-space: pre-line;
  margin: 5%;
}

#guests .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#guests img {
  width: 100%;
}

/*--------------------------------------------------------------
# Topics Section
--------------------------------------------------------------*/
#other-topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#other-topics .topic {
  text-align: center;
  margin: 10% 5%;
}

#other-topics .topics {
  width: 100%;
}

#other-topics .title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
  white-space: pre-line;
  margin: 12% 5% 5%;
}

#other-topics .title-topic {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
  margin: 5%;
}

/*--------------------------------------------------------------
# Newness Section
--------------------------------------------------------------*/
#newness {
  position: relative;
  height: 341px;
  margin-top: 15%;
  margin-bottom: 10%;
}

#newness .header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform: skewY(-6deg);
  transform: skewY(-6deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  z-index: -1;
}

#newness .title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
  white-space: pre-line;
  text-align: center;
  padding: 10%;
}

#newness .learn-more {
  margin: 5%;
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
footer {
  height: 140px;
  padding: 8%;
  margin-top: -2.3em;
  background: white;
}

footer .title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24 100%;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  font-weight: 500;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .icons i {
  margin: 8% 7% 5%;
  font-size: 1.125em;
  color: #060A24;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
}

/*--------------------------------------------------------------
# Media queries
--------------------------------------------------------------*/
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .m-elements-header {
    margin: 1.5% 0 2.5% 5%;
  }
  #container main {
    overflow-y: hidden;
  }
  #welcome {
    margin: 12% 14%;
  }
  #welcome .title h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
    white-space: normal;
  }
  #welcome .subtitle {
    margin: 3% 0 6%;
  }
  #welcome .subtitle span {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    white-space: pre-line;
  }
  #welcome #text-desktop {
    display: block;
  }
  #welcome #text-mobile {
    display: none;
  }
  #welcome .learn-more {
    padding: 1%;
    width: 20%;
  }
  #welcome .point {
    color: #0000EC;
  }
  #podcast {
    height: 1042.6px;
  }
  #podcast .header__bg {
    height: 85%;
  }
  #podcast #container-podcast #title {
    margin: 3% 15%;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
  }
  #podcast #container-podcast #podcasts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #podcast #container-podcast #podcasts iframe {
    width: 45% !important;
    margin-bottom: 5%;
  }
  #podcast #container-podcast #podcasts iframe:nth-child(odd) {
    margin-right: 5%;
  }
  #us {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 35%;
        grid-template-columns: 25% 35%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 4%;
    margin-top: -13%;
  }
  #us .img {
    margin-left: 10%;
  }
  #us .history .title h2 {
    white-space: normal;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
  }
  #guests .title {
    margin: 3% 14% 2%;
  }
  #guests img {
    width: 33%;
  }
  #other-topics {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #other-topics .title {
    margin: 4% 14%;
  }
  #other-topics .topics {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #other-topics .topics .topic {
    margin: 0 3%;
  }
  #other-topics .topics .topic .title-topic {
    margin: 0;
    white-space: pre-line;
  }
  #newness {
    height: 518px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  #newness .title {
    font-size: 48px;
    padding: 8% 14% 0;
  }
  #newness .learn-more {
    padding: 1%;
    width: 20%;
  }
  #newness .header__bg {
    height: 125%;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 25%;
        grid-template-columns: 70% 25%;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    height: 70px;
  }
  footer .title {
    text-align: left;
    margin-left: 7%;
  }
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
/*--------------------------------------------------------------
# App styles
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  margin: 0;
}

#container main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.learn-more {
  background: #00F3BB;
  padding: 4%;
  text-align: center;
}

.learn-more a {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */