#container {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 80px;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0;
}

#container header{
    grid-area: header;
    display: inline-flex;
    flex-direction: row;
    flex: 1;
}
#logo-channel{
    flex: 0.6;
    display: inline-flex;
    align-items: center;
}
#logo-channel h1 {
    font-family: 'Pacifico', cursive;
    margin: 1%;
}
#logo-channel img{
    margin-left: 6.9%;
    border-radius: 50%;
}
#elements-header{
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#elements-header ul{
    list-style-type: none;
    display: inline-flex;
    width: 100%;
}

#elements-header ul li{
    margin-right: 8%;
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    cursor: pointer;
}

#container main{
    grid-area: main;
}

#container footer{
    grid-area: footer;
    background: violet;
}

#welcome{
    background: white;
    margin: 5% 0 0 10%;
    margin-bottom: 10%;
}
#welcome .title{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #060A24;
    letter-spacing: 0;
}
#welcome .title h2{
    margin: 0;
}
#welcome .subtitle{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    word-wrap: break-word;
    width: 40%;
}
.learn-more{
    margin-top: 4%;
}
.learn-more a {
    background: #00F3BB 100%;
    text-decoration: none;
    padding: 1% 4.1%;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}

#podcast{
    
    height: 1042px;
    display: flex;
}
.non-rectangular {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
    height: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
}
